body {
  background-color: bisque;
}

.custom-card-1 {
  border: 0;
  border-radius: 1rem;
}

.custom-hero-img {
  width: auto;
  height: 85vh;
  border-radius: inherit;
}

.custom-hero-overlay {
  top: 28%;
}

.custom-hero-text {
  font-size: 10rem;
  text-shadow: -2px -2px 10px #000, 2px -2px 10px #000, -2px 2px 10px #000,
    2px 2px 10px #000;
}

@media only screen and (max-width: 768px) {
  .custom-hero-img {
    width: 100%;
    height: auto;
  }

  .custom-hero-text {
    font-size: 3rem;
  }
}
